<md-bottom-sheet class="md-list md-has-header">
  <md-subheader>Comment Actions</md-subheader>
  <md-list>
    <md-list-item>
      <md-button
          ng-click="listItemClick($index)"
          md-autofocus="true"
          class="md-list-item-content" >
        <md-icon md-svg-src="{{item.icon}}"></md-icon>
        <span class="md-inline-list-icon-label">sdfsdfsdf</span>
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button
          ng-click="listItemClick($index)"
          md-autofocus="true"
          class="md-list-item-content" >
        <md-icon md-svg-src="{{item.icon}}"></md-icon>
        <span class="md-inline-list-icon-label">sdfsdfsdf</span>
      </md-button>
    </md-list-item>      
  </md-list>
</md-bottom-sheet>