<div class="homeGrid">
    <md-grid-list md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px">

        <md-grid-tile class="gray" md-rowspan="3" md-colspan="2" md-colspan-sm="1" style="padding-bottom:0px!important">
            <md-list class="latest-items" ng-repeat="item in latest" style="top:{{$index*72}}px">
                <a href ui-sref="portal.{{itemType | lowercase}}">
                    <md-list-item class="md-2-line">
                      <div class="md-list-item-text">
                        <h3>{{ item.name}}</h3>
                        <p>{{convertDate(item.create_date) | date:'medium'}}</p>
                      </div>
                    </md-list-item>
                </a>
                <md-divider><md-divider>    
             </md-list>            
          <md-grid-tile-footer>             
            <h3>Latest {{itemType}}</h3>
          </md-grid-tile-footer>
        </md-grid-tile>
        
        
        <md-grid-tile class="green products" ng-class="{'force-top':$index === 4 }" ng-repeat="special in specials" md-rowspan="{{special.rows}}" md-colspan="{{special.cols}}" md-colspan-sm="{{special.smcols}}">
            <a ui-sref="portal.orders">
                <img ng-if="special.image" ng-src="data:image/jpg;base64,{{special.image}}"/>
                <h1>{{special.qty_available}}</h1>      
                <md-grid-tile-footer>
                  <h3>{{special.name}}</h3>
                </md-grid-tile-footer>
            </a>
        </md-grid-tile>        
        


    </md-grid-list>
</div>