<md-data-table-toolbar ng-hide="selected.length || filter.show" aria-hidden="false" class="">
  <h2 class="md-title">Products</h2>
  <div flex=""></div>
    <md-button class="" ng-click="updateProductRanges()" ng-show="user.type === 'admin'">
        <md-icon md-svg-icon="css/icons/ic_compare_arrows_black_24px.svg"></md-icon> Product Ranges
        <md-tooltip>
            Update Product Ranges
        </md-tooltip>                  
    </md-button>    
    <md-button class="md-fab md-primary md-mini" ng-click="filter.show = true" ng-disabled="products.length < 1">
        <md-icon md-svg-icon="css/icons/ic_filter_list_white_24px.svg"></md-icon> 
        <md-tooltip>
            Filter products
        </md-tooltip>          
    </md-button>
    <md-button class="md-fab md-mini" ng-click="addItem($event)" ng-disabled="" ng-show="user.type === 'admin'">
        <md-icon md-svg-icon="css/icons/ic_add_white_24px.svg"></md-icon>
        <md-tooltip>
            Add new product
        </md-tooltip>          
    </md-button>  
  
</md-data-table-toolbar>

<md-data-table-toolbar ng-show="filter.show && !selected.length">
  <form flex="" name="filter.form">
      <md-input-container md-no-float class="filter-input">
          <input type="text" ng-model="query.search" placeholder="search" on-enter="onSearch()">
      </md-input-container>
  </form>
    <md-button ng-click="filter.show = false;closeSearch()">
        <md-icon md-svg-icon="css/icons/ic_close_black_24px.svg"></md-icon>
    </md-button>
</md-data-table-toolbar>

        <md-data-table-toolbar class="alternate" ng-show="selected.length">
            <div>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</div>
            <div flex=""></div>  
             
            <md-button class="" ng-click="editItem($event)" ng-show="user.type === 'admin'" ng-disabled="products.length < 1">
                <md-icon md-svg-icon="css/icons/ic_mode_edit_black_24px.svg"></md-icon> Edit
                <md-tooltip>
                    Edit selected orders
                </md-tooltip>                  
            </md-button>             
            <md-button class="" ng-click="removeItem($event)" ng-show="user.type === 'admin'">
                <md-icon md-svg-icon="css/icons/ic_delete_black_24px.svg"></md-icon> Remove
                <md-tooltip>
                    Remove selected orders
                </md-tooltip>                 
            </md-button>                
            
            
        </md-data-table-toolbar>

        <md-data-table-container>
          <table md-data-table class="md-primary" md-row-select="selected" md-progress="deferred">
            <thead md-order="query.order" md-trigger="onOrderChange">
              <tr>
                <th order-by="id" name="ID"></th>
                <th order-by="name" name="Name"></th>
                <th order-by="image_small" name="Image"></th>
                <th order-by="list_price" name="Price"  ng-if="user.type === 'admin'"></th>
                <th order-by="qty_available" name="Quantity Available"></th>
                <th order-by="incoming_qty" name="Quantity Forecasted" ng-if="user.type === 'admin'"></th>
                <th order-by="outgoing_qty" name="Quantity Outgoing" ng-if="user.type === 'admin'"></th>
                <th order-by="virtual_available" name="Total Quantity" ng-if="user.type === 'admin'"></th>

              </tr>
            </thead>
            <tbody>
              <tr md-auto-select ng-repeat="product in products.data">
                <td>{{product.id | no_false}}</td>
                <td>{{product.name | no_false}}</td>
                <td><img class="stock-thumbnail" ng-if="product.image_small" ng-src="data:image/jpg;base64,{{product.image_small | no_false}}"></td>
                <td ng-if="user.type === 'admin'">{{product.list_price | currency}}</td>
                <td ng-if="user.type === 'admin'">{{product.qty_available | false_zero}}</td>
                <td ng-if="user.type !== 'admin'"><span ng-if="!product.qty_available || product.qty_available < 1">None</span><span ng-if="product.qty_available > 0 && product.qty_available < productRanges.limited">Limited</span><span ng-if="product.qty_available >= productRanges.limited && product.qty_available <= productRanges.good">Reasonable</span><span ng-if="product.qty_available > productRanges.good">Good</span></td>
                <td ng-if="user.type === 'admin'">{{product.incoming_qty | false_zero}}</td>
                <td ng-if="user.type === 'admin'">{{product.outgoing_qty | false_zero}}</td>
                <td ng-if="user.type === 'admin'">{{product.virtual_available | false_zero}}</td>
              </tr>
            </tbody>
          </table>
        </md-data-table-container>
        <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{products.count}}" md-trigger="onPageChange"></md-data-table-pagination>
        
        